<div class="row center">
<span class="col-sm-2"></span>
<span class="col-sm-8 center">


<h1>New Student</h1>

<%= render 'form' %>
</span>
<span class="col-sm-2"></span>
</div>
<div class="row center">
<%= link_to 'Back', students_path %>
</div>